<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ImageCount</key>
	<string>%@ 张</string>
	<key>SelectAlbum</key>
	<string>选择相册</string>
	<key>SelectAll</key>
	<string>全选</string>
	<key>CancelSelectAll</key>
	<string>取消全选</string>
	<key>Today</key>
	<string>今天</string>
	<key>Yesterday</key>
	<string>昨天</string>
	<key>DayBeforeYesterday</key>
	<string>前天</string>
</dict>
</plist>
